body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: white;
}
button {
  cursor: pointer;
}
.log-head {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}
.login {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: grey;
}

.login-form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-form input {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
}
.login-form button {
  padding: 10px;
  font-size: 16px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
}
.login-form textarea {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
}
.error {
  color: red;
  padding-left: 30px;
}

.header {
  background: black;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}
.logout-btn {
  background-color: red;
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.card {
  background: rgba(174, 167, 167, 0.445);
  padding: 10px;
  border-radius: 4px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}


.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.field label {
  font-weight: 600;
  margin-bottom: 4px;
}

.field input,
.field textarea {
  padding: 8px;
  font-size: 14px;
}
